@font-face {
    font-family: 'ChosunKg';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/fonts-archive/ChosunKg/ChosunKg.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/ChosunKg/ChosunKg.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/ChosunKg/ChosunKg.ttf') format('truetype');
}
